*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

header{
    width: 100vw;
    height: 70px;
    background: #202020;
    padding:10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header h1{
    width: 70%;
    height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header h1:hover span{
    transform: scale(1.2);
    text-shadow: 0px 0px 3px #b0f184;
}

header h1:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 3px #b0f184;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav ul li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #b0f184;
    transform: scale(1.2);
}

body main{
    width: 100vw;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .slider{
    width: 90%;
    height: 70vh;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.slider .slider-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:50px 1fr 50px;
    align-items: center;
    gap: 10px;
}

.slider .slider-container .left_arrow{
    cursor: pointer;
    width: 90%;
    margin: auto;
    border-radius: 50%;
    
}

.slider .slider-container .right_arrow{
    cursor: pointer;
    width: 90%;
    margin: auto;
    border-radius: 50%;
    transform: rotate(180deg);  /* Rotate the arrow 180 degrees */
}

.right_arrow:hover, .left_arrow:hover{
    box-shadow: 0px 0px 12px #b0f184;
    background-color: #b0f184;
}

.slider-container .slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5em;
    align-items: center;
    transition: opacity 1.5s;
}

.slider-container .slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__body .slider__image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    position: relative;
    border: 3px solid #b0f184;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.slider__body .slider__image img{
    width: 100%;
    height: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    
}

.slider__body .slider__image .slider_first_img{
    position: absolute;
    width: 105%;
    height: 120%;
    top: -58px;
    left: -5px;
}

.slider__body .slider__text{
    max-width: 600px;
}

.slider__body .slider__text h2{
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5em;
}

.slider__body .slider__text p{
    font-size: 1.7rem;
    color: white;
    line-height: 1.5;
}